{% load static %}
<link href="{% static 'new-float-ui-backend/favicon.png' %}" rel="icon"/>
<link href="{% static 'new-float-ui-backend/apple-touch-icon.png' %}" rel="apple-touch-icon"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet"/>
<link href="{% static 'new-float-ui-backend/output.css' %}" rel="stylesheet"/>
<link href="{% static 'new-float-ui-backend/maps.css' %}" rel="stylesheet"/>
<link href="{% static 'new-float-ui-backend/main.css' %}" rel="stylesheet"/>
<link href="{% static 'new-float-ui-backend/hover-click.css' %}" rel="stylesheet"/>
<link href="{% static 'new-float-ui-backend/splash-screen.css' %}" rel="stylesheet"/>
<link href="{% static 'new-float-ui-backend/slideshow-style.css' %}" rel="stylesheet"/>
<link href="{% static 'new-float-ui-backend/smooth-modal.css' %}" rel="stylesheet"/>
