{% load static %}
<script defer="" src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js">
</script>
<script crossorigin="anonymous" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" src="https://code.jquery.com/jquery-3.7.1.js">
</script>
<script src="{% static 'new-float-ui-frontend/main.js' %}">
</script>
<script src="{% static 'new-float-ui-frontend/hover-click.js' %}">
</script>
<script src="{% static 'new-float-ui-frontend/splash-screen.js' %}">
</script>
<script src="{% static 'new-float-ui-frontend/slideshow-main.js' %}">
</script>
