{% load static %}
<footer class="footer" id="footer">
 <div class="container footer-top">
  <div class="row gy-4">
   <div class="col-lg-4 col-md-6 footer-about">
    <a class="logo d-flex align-items-center" href="index.html">
     <span class="sitename">
      <span class="hoverable-mark" data-modal-type="text" id="1-main-2">
       iLanding
      </span>
     </span>
    </a>
    <div class="footer-contact pt-3">
     <p>
      <span class="hoverable-mark" data-modal-type="text" id="14-main-8">
       A108 Adam Street
      </span>
     </p>
     <p>
      <span class="hoverable-mark" data-modal-type="text" id="14-main-9">
       New York, NY 535022
      </span>
     </p>
     <p class="mt-3">
      <strong>
       <span class="hoverable-mark" data-modal-type="text" id="14-main-17">
        Phone:
       </span>
      </strong>
      <span>
       <span class="hoverable-mark" data-modal-type="text" id="14-main-10">
        1 5589 55488 55
       </span>
      </span>
     </p>
     <p>
      <strong>
       <span class="hoverable-mark" data-modal-type="text" id="14-main-19">
        Email:
       </span>
      </strong>
      <span>
       <span class="hoverable-mark" data-modal-type="text" id="14-main-11">
        info@example.com
       </span>
      </span>
     </p>
    </div>
    <div class="social-links d-flex mt-4">
     <a href="">
      <span class="hoverable-mark" data-modal-type="icon" id="14-bi-icon-66">
       <i class="bi bi-twitter-x">
       </i>
      </span>
     </a>
     <a href="">
      <span class="hoverable-mark" data-modal-type="icon" id="14-bi-icon-67">
       <i class="bi bi-facebook">
       </i>
      </span>
     </a>
     <a href="">
      <span class="hoverable-mark" data-modal-type="icon" id="14-bi-icon-68">
       <i class="bi bi-instagram">
       </i>
      </span>
     </a>
     <a href="">
      <span class="hoverable-mark" data-modal-type="icon" id="14-bi-icon-69">
       <i class="bi bi-linkedin">
       </i>
      </span>
     </a>
    </div>
   </div>
   <div class="col-lg-2 col-md-3 footer-links">
    <h4>
     <span class="hoverable-mark" data-modal-type="text" id="14-main-21">
      Useful Links
     </span>
    </h4>
    <span class="hoverable-mark" data-modal-type="unordered-list" id="14-unordered-list-10">
     <ul>
      <li>
       <a href="#">
        Home
       </a>
      </li>
      <li>
       <a href="#">
        About us
       </a>
      </li>
      <li>
       <a href="#">
        Services
       </a>
      </li>
      <li>
       <a href="#">
        Terms of service
       </a>
      </li>
      <li>
       <a href="#">
        Privacy policy
       </a>
      </li>
     </ul>
    </span>
   </div>
   <div class="col-lg-2 col-md-3 footer-links">
    <h4>
     <span class="hoverable-mark" data-modal-type="text" id="3-main-4">
      Services
     </span>
    </h4>
    <span class="hoverable-mark" data-modal-type="unordered-list" id="14-unordered-list-11">
     <ul>
      <li>
       <a href="#">
        Web Design
       </a>
      </li>
      <li>
       <a href="#">
        Web Development
       </a>
      </li>
      <li>
       <a href="#">
        Product Management
       </a>
      </li>
      <li>
       <a href="#">
        Marketing
       </a>
      </li>
      <li>
       <a href="#">
        Graphic Design
       </a>
      </li>
     </ul>
    </span>
   </div>
   <div class="col-lg-2 col-md-3 footer-links">
    <h4>
     <span class="hoverable-mark" data-modal-type="text" id="14-main-23">
      Hic solutasetp
     </span>
    </h4>
    <span class="hoverable-mark" data-modal-type="unordered-list" id="14-unordered-list-12">
     <ul>
      <li>
       <a href="#">
        Molestiae accusamus iure
       </a>
      </li>
      <li>
       <a href="#">
        Excepturi dignissimos
       </a>
      </li>
      <li>
       <a href="#">
        Suscipit distinctio
       </a>
      </li>
      <li>
       <a href="#">
        Dilecta
       </a>
      </li>
      <li>
       <a href="#">
        Sit quas consectetur
       </a>
      </li>
     </ul>
    </span>
   </div>
   <div class="col-lg-2 col-md-3 footer-links">
    <h4>
     <span class="hoverable-mark" data-modal-type="text" id="14-main-24">
      Nobis illum
     </span>
    </h4>
    <span class="hoverable-mark" data-modal-type="unordered-list" id="14-unordered-list-13">
     <ul>
      <li>
       <a href="#">
        Ipsam
       </a>
      </li>
      <li>
       <a href="#">
        Laudantium dolorum
       </a>
      </li>
      <li>
       <a href="#">
        Dinera
       </a>
      </li>
      <li>
       <a href="#">
        Trodelas
       </a>
      </li>
      <li>
       <a href="#">
        Flexo
       </a>
      </li>
     </ul>
    </span>
   </div>
  </div>
 </div>
 <div class="container copyright text-center mt-4">
  <p>
   <span class="hoverable-mark" data-modal-type="text" id="14-main-25">
    ©
   </span>
   <span>
    <span class="hoverable-mark" data-modal-type="text" id="14-main-26">
     Copyright
    </span>
   </span>
   <strong class="px-1 sitename">
    <span class="hoverable-mark" data-modal-type="text" id="1-main-3">
     iLanding
    </span>
   </strong>
   <span>
    <span class="hoverable-mark" data-modal-type="text" id="14-main-30">
     All Rights Reserved
    </span>
   </span>
  </p>
  <div class="credits">
   <span class="hoverable-mark" data-modal-type="text" id="14-main-31">
    Designed by
   </span>
   <a href="https://bootstrapmade.com/">
    <span class="hoverable-mark" data-modal-type="text" id="14-main-32">
     BootstrapMade
    </span>
   </a>
   <span class="hoverable-mark" data-modal-type="text" id="14-main-33">
    Distributed By
   </span>
   <a href="https://themewagon.com">
    <span class="hoverable-mark" data-modal-type="text" id="14-main-34">
     ThemeWagon
    </span>
   </a>
  </div>
 </div>
</footer>
