{% load static %}
<script src="{% static 'ilanding-frontend/assets/vendor/php-email-form/validate.js' %}">
</script>
<script src="{% static 'ilanding-frontend/assets/vendor/aos/aos.js' %}">
</script>
<script src="{% static 'ilanding-frontend/assets/vendor/glightbox/js/glightbox.min.js' %}">
</script>
<script src="{% static 'ilanding-frontend/assets/vendor/swiper/swiper-bundle.min.js' %}">
</script>
<script src="{% static 'ilanding-frontend/assets/vendor/purecounter/purecounter_vanilla.js' %}">
</script>
<script src="{% static 'ilanding-frontend/assets/js/main.js' %}">
</script>
<script src="{% static 'ilanding-frontend/hover-click.js' %}">
</script>
<script src="{% static 'ilanding-frontend/swiper-config.js' %}">
</script>
<script src="{% static 'ilanding-frontend/splash-screen.js' %}">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
</script>
