{% load static %}
<footer class="footer" id="footer">
 <div class="container footer-top">
  <div class="row gy-4">
   <div class="col-lg-4 col-md-6 footer-about">
    <a class="logo d-flex align-items-center">
     <span class="sitename">
      <span class="hoverable hoverable-mark" data-modal-code="1-main-2" data-modal-title="iLanding" data-modal-type="text" data-tooltip="Link ini hanya tampil di mode edit. Silahkan klik untuk mengedit data!" id="1-main-2">
       iLanding
      </span>
     </span>
    </a>
    <div class="footer-contact pt-3">
     <p>
      <span class="hoverable hoverable-mark" data-modal-code="14-main-8" data-modal-title="A108 Adam Street" data-modal-type="text" data-tooltip="Link ini hanya tampil di mode edit. Silahkan klik untuk mengedit data!" id="14-main-8">
       A108 Adam Street
      </span>
     </p>
     <p>
      <span class="hoverable hoverable-mark" data-modal-code="14-main-9" data-modal-title="New York, NY 535022" data-modal-type="text" data-tooltip="Link ini hanya tampil di mode edit. Silahkan klik untuk mengedit data!" id="14-main-9">
       New York, NY 535022
      </span>
     </p>
     <p class="mt-3">
      <strong>
       <span class="hoverable hoverable-mark" data-modal-code="14-main-17" data-modal-title="Phone:" data-modal-type="text" data-tooltip="Link ini hanya tampil di mode edit. Silahkan klik untuk mengedit data!" id="14-main-17">
        Phone:
       </span>
      </strong>
      <span>
       <span class="hoverable hoverable-mark" data-modal-code="14-main-10" data-modal-title="1 5589 55488 55" data-modal-type="text" data-tooltip="Link ini hanya tampil di mode edit. Silahkan klik untuk mengedit data!" id="14-main-10">
        1 5589 55488 55
       </span>
      </span>
     </p>
     <p>
      <strong>
       <span class="hoverable hoverable-mark" data-modal-code="14-main-19" data-modal-title="Email:" data-modal-type="text" data-tooltip="Link ini hanya tampil di mode edit. Silahkan klik untuk mengedit data!" id="14-main-19">
        Email:
       </span>
      </strong>
      <span>
       <span class="hoverable hoverable-mark" data-modal-code="14-main-11" data-modal-title="info@example.com" data-modal-type="text" data-tooltip="Link ini hanya tampil di mode edit. Silahkan klik untuk mengedit data!" id="14-main-11">
        info@example.com
       </span>
      </span>
     </p>
    </div>
    <div class="social-links d-flex mt-4">
     <a>
      <span class="hoverable hoverable-mark" data-modal-code="14-bi-icon-66" data-modal-title='&lt;i class="bi bi-twitter-x"&gt;&lt;/i&gt;' data-modal-type="icon" data-tooltip="Link ini hanya tampil di mode edit. Silahkan klik untuk mengedit data!" id="14-bi-icon-66">
       <i class="bi bi-twitter-x">
       </i>
      </span>
     </a>
     <a>
      <span class="hoverable hoverable-mark" data-modal-code="14-bi-icon-67" data-modal-title='&lt;i class="bi bi-facebook"&gt;&lt;/i&gt;' data-modal-type="icon" data-tooltip="Link ini hanya tampil di mode edit. Silahkan klik untuk mengedit data!" id="14-bi-icon-67">
       <i class="bi bi-facebook">
       </i>
      </span>
     </a>
     <a>
      <span class="hoverable hoverable-mark" data-modal-code="14-bi-icon-68" data-modal-title='&lt;i class="bi bi-instagram"&gt;&lt;/i&gt;' data-modal-type="icon" data-tooltip="Link ini hanya tampil di mode edit. Silahkan klik untuk mengedit data!" id="14-bi-icon-68">
       <i class="bi bi-instagram">
       </i>
      </span>
     </a>
     <a>
      <span class="hoverable hoverable-mark" data-modal-code="14-bi-icon-69" data-modal-title='&lt;i class="bi bi-linkedin"&gt;&lt;/i&gt;' data-modal-type="icon" data-tooltip="Link ini hanya tampil di mode edit. Silahkan klik untuk mengedit data!" id="14-bi-icon-69">
       <i class="bi bi-linkedin">
       </i>
      </span>
     </a>
    </div>
   </div>
   <div class="col-lg-2 col-md-3 footer-links">
    <h4>
     <span class="hoverable hoverable-mark" data-modal-code="14-main-21" data-modal-title="Useful Links" data-modal-type="text" data-tooltip="Link ini hanya tampil di mode edit. Silahkan klik untuk mengedit data!" id="14-main-21">
      Useful Links
     </span>
    </h4>
    <span class="hoverable hoverable-mark" data-modal-code="14-unordered-list-10" data-modal-title="&lt;ul&gt; &lt;li&gt;&lt;a&gt;Home&lt;/a&gt;&lt;/li&gt; &lt;li&gt;&lt;a&gt;About us&lt;/a&gt;&lt;/li&gt; &lt;li&gt;&lt;a&gt;Services&lt;/a&gt;&lt;/li&gt; &lt;li&gt;&lt;a&gt;Terms of service&lt;/a&gt;&lt;/li&gt; &lt;li&gt;&lt;a&gt;Privacy policy&lt;/a&gt;&lt;/li&gt; &lt;/ul&gt;" data-modal-type="unordered-list" data-tooltip="Link ini hanya tampil di mode edit. Silahkan klik untuk mengedit data!" id="14-unordered-list-10">
     <ul>
      <li>
       <a>
        Home
       </a>
      </li>
      <li>
       <a>
        About us
       </a>
      </li>
      <li>
       <a>
        Services
       </a>
      </li>
      <li>
       <a>
        Terms of service
       </a>
      </li>
      <li>
       <a>
        Privacy policy
       </a>
      </li>
     </ul>
    </span>
   </div>
   <div class="col-lg-2 col-md-3 footer-links">
    <h4>
     <span class="hoverable hoverable-mark" data-modal-code="3-main-4" data-modal-title="Services" data-modal-type="text" data-tooltip="Link ini hanya tampil di mode edit. Silahkan klik untuk mengedit data!" id="3-main-4">
      Services
     </span>
    </h4>
    <span class="hoverable hoverable-mark" data-modal-code="14-unordered-list-11" data-modal-title="&lt;ul&gt; &lt;li&gt;&lt;a&gt;Web Design&lt;/a&gt;&lt;/li&gt; &lt;li&gt;&lt;a&gt;Web Development&lt;/a&gt;&lt;/li&gt; &lt;li&gt;&lt;a&gt;Product Management&lt;/a&gt;&lt;/li&gt; &lt;li&gt;&lt;a&gt;Marketing&lt;/a&gt;&lt;/li&gt; &lt;li&gt;&lt;a&gt;Graphic Design&lt;/a&gt;&lt;/li&gt; &lt;/ul&gt;" data-modal-type="unordered-list" data-tooltip="Link ini hanya tampil di mode edit. Silahkan klik untuk mengedit data!" id="14-unordered-list-11">
     <ul>
      <li>
       <a>
        Web Design
       </a>
      </li>
      <li>
       <a>
        Web Development
       </a>
      </li>
      <li>
       <a>
        Product Management
       </a>
      </li>
      <li>
       <a>
        Marketing
       </a>
      </li>
      <li>
       <a>
        Graphic Design
       </a>
      </li>
     </ul>
    </span>
   </div>
   <div class="col-lg-2 col-md-3 footer-links">
    <h4>
     <span class="hoverable hoverable-mark" data-modal-code="14-main-23" data-modal-title="Hic solutasetp" data-modal-type="text" data-tooltip="Link ini hanya tampil di mode edit. Silahkan klik untuk mengedit data!" id="14-main-23">
      Hic solutasetp
     </span>
    </h4>
    <span class="hoverable hoverable-mark" data-modal-code="14-unordered-list-12" data-modal-title="&lt;ul&gt; &lt;li&gt;&lt;a&gt;Molestiae accusamus iure&lt;/a&gt;&lt;/li&gt; &lt;li&gt;&lt;a&gt;Excepturi dignissimos&lt;/a&gt;&lt;/li&gt; &lt;li&gt;&lt;a&gt;Suscipit distinctio&lt;/a&gt;&lt;/li&gt; &lt;li&gt;&lt;a&gt;Dilecta&lt;/a&gt;&lt;/li&gt; &lt;li&gt;&lt;a&gt;Sit quas consectetur&lt;/a&gt;&lt;/li&gt; &lt;/ul&gt;" data-modal-type="unordered-list" data-tooltip="Link ini hanya tampil di mode edit. Silahkan klik untuk mengedit data!" id="14-unordered-list-12">
     <ul>
      <li>
       <a>
        Molestiae accusamus iure
       </a>
      </li>
      <li>
       <a>
        Excepturi dignissimos
       </a>
      </li>
      <li>
       <a>
        Suscipit distinctio
       </a>
      </li>
      <li>
       <a>
        Dilecta
       </a>
      </li>
      <li>
       <a>
        Sit quas consectetur
       </a>
      </li>
     </ul>
    </span>
   </div>
   <div class="col-lg-2 col-md-3 footer-links">
    <h4>
     <span class="hoverable hoverable-mark" data-modal-code="14-main-24" data-modal-title="Nobis illum" data-modal-type="text" data-tooltip="Link ini hanya tampil di mode edit. Silahkan klik untuk mengedit data!" id="14-main-24">
      Nobis illum
     </span>
    </h4>
    <span class="hoverable hoverable-mark" data-modal-code="14-unordered-list-13" data-modal-title="&lt;ul&gt; &lt;li&gt;&lt;a&gt;Ipsam&lt;/a&gt;&lt;/li&gt; &lt;li&gt;&lt;a&gt;Laudantium dolorum&lt;/a&gt;&lt;/li&gt; &lt;li&gt;&lt;a&gt;Dinera&lt;/a&gt;&lt;/li&gt; &lt;li&gt;&lt;a&gt;Trodelas&lt;/a&gt;&lt;/li&gt; &lt;li&gt;&lt;a&gt;Flexo&lt;/a&gt;&lt;/li&gt; &lt;/ul&gt;" data-modal-type="unordered-list" data-tooltip="Link ini hanya tampil di mode edit. Silahkan klik untuk mengedit data!" id="14-unordered-list-13">
     <ul>
      <li>
       <a>
        Ipsam
       </a>
      </li>
      <li>
       <a>
        Laudantium dolorum
       </a>
      </li>
      <li>
       <a>
        Dinera
       </a>
      </li>
      <li>
       <a>
        Trodelas
       </a>
      </li>
      <li>
       <a>
        Flexo
       </a>
      </li>
     </ul>
    </span>
   </div>
  </div>
 </div>
 <div class="container copyright text-center mt-4">
  <p>
   <span class="hoverable hoverable-mark" data-modal-code="14-main-25" data-modal-title="©" data-modal-type="text" data-tooltip="Link ini hanya tampil di mode edit. Silahkan klik untuk mengedit data!" id="14-main-25">
    ©
   </span>
   <span>
    <span class="hoverable hoverable-mark" data-modal-code="14-main-26" data-modal-title="Copyright" data-modal-type="text" data-tooltip="Link ini hanya tampil di mode edit. Silahkan klik untuk mengedit data!" id="14-main-26">
     Copyright
    </span>
   </span>
   <strong class="px-1 sitename">
    <span class="hoverable hoverable-mark" data-modal-code="1-main-3" data-modal-title="iLanding" data-modal-type="text" data-tooltip="Link ini hanya tampil di mode edit. Silahkan klik untuk mengedit data!" id="1-main-3">
     iLanding
    </span>
   </strong>
   <span>
    <span class="hoverable hoverable-mark" data-modal-code="14-main-30" data-modal-title="All Rights Reserved" data-modal-type="text" data-tooltip="Link ini hanya tampil di mode edit. Silahkan klik untuk mengedit data!" id="14-main-30">
     All Rights Reserved
    </span>
   </span>
  </p>
  <div class="credits">
   <span class="hoverable hoverable-mark" data-modal-code="14-main-31" data-modal-title="Designed by" data-modal-type="text" data-tooltip="Link ini hanya tampil di mode edit. Silahkan klik untuk mengedit data!" id="14-main-31">
    Designed by
   </span>
   <a>
    <span class="hoverable hoverable-mark" data-modal-code="14-main-32" data-modal-title="BootstrapMade" data-modal-type="text" data-tooltip="Link ini hanya tampil di mode edit. Silahkan klik untuk mengedit data!" id="14-main-32">
     BootstrapMade
    </span>
   </a>
   <span class="hoverable hoverable-mark" data-modal-code="14-main-33" data-modal-title="Distributed By" data-modal-type="text" data-tooltip="Link ini hanya tampil di mode edit. Silahkan klik untuk mengedit data!" id="14-main-33">
    Distributed By
   </span>
   <a>
    <span class="hoverable hoverable-mark" data-modal-code="14-main-34" data-modal-title="ThemeWagon" data-modal-type="text" data-tooltip="Link ini hanya tampil di mode edit. Silahkan klik untuk mengedit data!" id="14-main-34">
     ThemeWagon
    </span>
   </a>
  </div>
 </div>
</footer>
