{% extends 'ilanding/base.html' %}
        {% load static %}
        {% block main %}
<main class="main">
 {% block hero %} {% endblock %}
 {% block about %} {% endblock %}
 {% block features %} {% endblock %}
 {% block features-cards %} {% endblock %}
 {% block features-2 %} {% endblock %}
 {% block call-to-action %} {% endblock %}
 {% block clients %} {% endblock %}
 {% block testimonials %} {% endblock %}
 {% block stats %} {% endblock %}
 {% block services %} {% endblock %}
 {% block pricing %} {% endblock %}
 {% block faq %} {% endblock %}
 {% block call-to-action-2 %} {% endblock %}
 {% block contact %} {% endblock %}
</main>
{% endblock %}
